// INFO
.info {
    border-top: #ffffff solid 1.5px;
    border-bottom: #ffffff solid 1.5px;
    height: 120px;
    font-size: 43px;
    color: #000000;
    display: flex;
    align-items: center;
    -webkit-text-stroke: #ffffff 1px;
    gap: 100px;
    width: 100%;
    h1 {
      white-space: nowrap;
      font-family: 'Playfair Display', sans-serif;
    }
  }